<template>
  <div class="row center">
      <div class="col-md-12">
        <small>&copy; Jupiter, created by <a href="">sspeyer</a> <br> Jupiter is a not for profit educational project.</small>
      </div>
    </div>
</template>

<script>
export default {
  name: 'Footer'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .center {
    text-align: center;
  }
  
  a {
    color: #e84393;
  }

  a:hover {
    color: #fd79a8;
  }

</style>
