<template>
  <div class="row center">
      <div class="col-md-12">
        <img class="logo" src="../../assets/logos/logox210.png">
          <h3>Welcome to Jupiter, an Habbo Javascript Clone Project</h3>
          <p>For a guide and recipes on how to configure or customize this project, check out the <a href="">documentation</a>.</p>

          <h3>Ecosystem</h3>
          <ul class="links">
            <li><a href="">jupiter-client</a></li>
            <li><a href="">jupiter-server</a></li>
            <li><a href="">documentation</a></li>
          </ul>
      </div>
    </div>
</template>

<script>
export default {
  name: 'Header'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .center {
    text-align: center;
  }

  .links li {
    display: inline-block;
    margin: 6px;
  }

  a {
    color: #e84393;
  }

  a:hover {
    color: #fd79a8;
  }

</style>
