<template>
  <div class="chat">
    <input type="text" placeholder="Enter message and press enter...">
  </div>
</template>

<script>
export default {
  name: 'Chat'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .chat {
    position: absolute;
    bottom: 8px;
    left: 265px;
    z-index: 98;
  }

  .chat input{
    background-color: white;
    border-radius: 6px;
    border: 2px solid #eeee;
    width: 320px;
    height: 61px;
    padding-left: 12px;
  }
</style>