<template>
  <div class="createroom">
    <div class="header">
      <img src="../../assets/create_room/header.png" class="header_icon"> Create new room
      <div class="close" v-on:click="closeCreateroom"><img src="../../assets/cross.png"></div>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="rooms">
              <div class="container">
                <div class="row">
                  <div class="col-md-6"><img src="../../assets/create_room/models/model_a.png"></div>
                  <div class="col-md-6"><img src="../../assets/create_room/models/model_b.png"></div>
                  <div class="col-md-6"><img src="../../assets/create_room/models/model_c.png"></div>
                  <div class="col-md-6"><img src="../../assets/create_room/models/model_d.png"></div>
                  <div class="col-md-6"><img src="../../assets/create_room/models/model_e.png"></div>
                  <div class="col-md-6"><img src="../../assets/create_room/models/model_f.png"></div>
                  <div class="col-md-6"><img src="../../assets/create_room/models/model_h.png"></div>
                  <div class="col-md-6"><img src="../../assets/create_room/models/model_i.png"></div>
                  <div class="col-md-6"><img src="../../assets/create_room/models/model_j.png"></div>
                  <div class="col-md-6"><img src="../../assets/create_room/models/model_k.png"></div>
                  <div class="col-md-6"><img src="../../assets/create_room/models/model_l.png"></div>
                  <div class="col-md-6"><img src="../../assets/create_room/models/model_m.png"></div>
                  <div class="col-md-6"><img src="../../assets/create_room/models/model_n.png"></div>
                  <div class="col-md-6"><img src="../../assets/create_room/models/model_o.png"></div>
                  <div class="col-md-6"><img src="../../assets/create_room/models/model_p.png"></div>
                  <div class="col-md-6"><img src="../../assets/create_room/models/model_q.png"></div>
                  <div class="col-md-6"><img src="../../assets/create_room/models/model_r.png"></div>
                  <div class="col-md-6"><img src="../../assets/create_room/models/model_t.png"></div>
                  <div class="col-md-6"><img src="../../assets/create_room/models/model_u.png"></div>
                  <div class="col-md-6"><img src="../../assets/create_room/models/model_v.png"></div>
                  <div class="col-md-6"><img src="../../assets/create_room/models/model_w.png"></div>
                  <div class="col-md-6"><img src="../../assets/create_room/models/model_x.png"></div>
                  <div class="col-md-6"><img src="../../assets/create_room/models/model_y.png"></div>
                  <div class="col-md-6"><img src="../../assets/create_room/models/model_z.png"></div>
                  <div class="col-md-6"><img src="../../assets/create_room/models/model_0.png"></div>
                </div>
              </div>
            </div>
            <input type="text" class="name" placeholder="Room name">
            <button class="btn btn-block btn-primary"><img src="../../assets/create_room/create_room.png"> Create room</button>
          </div>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Createroom',
  methods: {
    closeCreateroom: function(){
      this.$store.commit('updateGameCreateroom');
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .createroom{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: white;
    height: 100vh;
    width: 25%;
    -webkit-box-shadow: 6px 2px 6px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 2px 6px -2px rgba(0,0,0,0.75);
    box-shadow: 6px 2px 6px -2px rgba(0,0,0,0.75);
    z-index: 99;
  }

  .header{
    width: 100%;
    padding: 12px;
    background-color: #fd79a8;
    font-size: 24px;
    color: white;
    border-bottom: 3px solid #e84393;
  }

  .header_icon {
    height: 25px;
    width: auto;
    margin-right: 6px;
  }

  .header .close{
    border-radius: 4px;
    background-color: #e84393;
    padding: 6px 12px;
    cursor: pointer;
  }

  .rooms {
    background-color: #eeeeee;
    padding: 6px;
    border-radius: 6px;
    margin-top: 6px;
    max-height: 380px;
    overflow-x: auto;
    text-align: center;
  }

  .rooms img{
    padding: 6px;
    max-width: 100%;
    height: auto;
  }

  .btn-primary {
    background: #e84393;
    border: none;
  }

  .btn-primary:hover {
    background: #fd79a8;
  }

  .btn-primary:active {
    background: #fd79a8;
  }

  .btn-primary:focus {
    background: #fd79a8;
  }

  .name{
    width: 100%;
    padding: 8px;
    background-color: white;
    border: 2px solid #eeeeee;
    border-radius: 6px;
    margin-bottom: 6px;
    margin-top: 6px;
  }
</style>