<template>
  <div class="friends">
    <ul>
      <li><img src="../../assets/friends/messenger.png"></li>
      <li><img src="../../assets/friends/all_friends.png"></li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'Friends'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .friends {
    position: absolute;
    bottom: 8px;
    right: 12px;
    padding: 8px;
    background-color: white;
    border-radius: 6px;
    border: 2px solid #eeee;
    z-index: 98;
  }

  .friends ul {
    padding-left: 12px;
    margin-bottom: 0px;
  }

  .friends ul li {
    display: inline-block;
    padding-right: 12px;
  }

  .friends ul li img{
   cursor: pointer;
  }
</style>