<template>
  <div class="navigation">
    <ul>
      <li><img src="../../assets/navigation/logo.png" v-on:click="showHotelview"></li>
      <li><img src="../../assets/navigation/rooms.png" v-on:click="showNavigator"></li>
      <li><img src="../../assets/navigation/shop.png"></li>
      <li><img src="../../assets/navigation/inventory.png"></li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'Navigation',
  methods: {
    showNavigator: function(){
      this.$store.commit('updateGameNavigator');
    },
    showHotelview: function(){
      this.$store.commit('showGameHotelview');
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .navigation {
    position: absolute;
    bottom: 8px;
    left: 12px;
    padding: 8px;
    background-color: white;
    border-radius: 6px;
    border: 2px solid #eeee;
    z-index: 98;
  }

  .navigation ul {
    padding-left: 12px;
    margin-bottom: 0px;
  }

  .navigation ul li {
    display: inline-block;
    padding-right: 12px;
  }

  .navigation ul li img{
   cursor: pointer;
  }
</style>