<template>
  <div class="navigator">
    <div class="header">
      <img src="../../assets/navigator/header.png" class="header_icon"> Navigator
      <div class="close" v-on:click="closeNavigator"><img src="../../assets/cross.png"></div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <input type="text" class="search" placeholder="Search room...">
          <div class="list_container">
            <ul class="list">
              <li v-on:click="showRoom">
                <img src="../../assets/navigator/locks/bell.png"> 
                <span> Welcome lounge</span> 
                <div class="count grey">
                  <span>12</span>
                </div>
                <img src="../../assets/navigator/favorite/favourite.png" class="favorite">
              </li>
              <li v-on:click="showRoom">
                <img src="../../assets/navigator/locks/password.png"> 
                <span> Help center</span> 
                <div class="count green">
                  <span>6</span>
                </div>
                <img src="../../assets/navigator/favorite/make_favourite.png" class="favorite"> 
              </li>
              <li v-on:click="showRoom">
                <span> My house</span>
                <div class="count orange">
                  <span>19</span>
                </div>
                <img src="../../assets/navigator/favorite/make_favourite.png" class="favorite"> 
              </li>
              <li v-on:click="showRoom">
                <span> Wired Game</span>
                <div class="count red">
                  <span>24</span>
                </div>
                <img src="../../assets/navigator/favorite/make_favourite.png" class="favorite">  
              </li>
              <li v-on:click="showRoom">
                <span> Kitchen</span>
                <div class="count yellow">
                  <span>14</span>
                </div>
                <img src="../../assets/navigator/favorite/make_favourite.png" class="favorite">  
              </li>
              <li v-on:click="showRoom">
                <span> Bathroom</span>
                <div class="count yellow">
                  <span>14</span>
                </div>
                <img src="../../assets/navigator/favorite/make_favourite.png" class="favorite">  
              </li>
              <li v-on:click="showRoom">
                <span> Cave</span>
                <div class="count yellow">
                  <span>14</span>
                </div>
                <img src="../../assets/navigator/favorite/make_favourite.png" class="favorite">  
              </li>
              <li v-on:click="showRoom">
                <span> Dungeon</span>
                <div class="count yellow">
                  <span>14</span>
                </div>
                <img src="../../assets/navigator/favorite/make_favourite.png" class="favorite">  
              </li>
              <li v-on:click="showRoom">
                <span> Bedroom</span>
                <div class="count yellow">
                  <span>14</span>
                </div>
                <img src="../../assets/navigator/favorite/make_favourite.png" class="favorite">  
              </li>
              <li v-on:click="showRoom">
                <span> Bedroom</span>
                <div class="count yellow">
                  <span>14</span>
                </div>
                <img src="../../assets/navigator/favorite/make_favourite.png" class="favorite">  
              </li>
              <li v-on:click="showRoom">
                <span> Bedroom</span>
                <div class="count yellow">
                  <span>14</span>
                </div>
                <img src="../../assets/navigator/favorite/make_favourite.png" class="favorite">  
              </li>
              <li v-on:click="showRoom">
                <span> Bedroom</span>
                <div class="count yellow">
                  <span>14</span>
                </div>
                <img src="../../assets/navigator/favorite/make_favourite.png" class="favorite">  
              </li>
              <li v-on:click="showRoom">
                <span> Bedroom</span>
                <div class="count yellow">
                  <span>14</span>
                </div>
                <img src="../../assets/navigator/favorite/make_favourite.png" class="favorite">  
              </li>
            </ul>
          </div>
          <button class="btn btn-block btn-primary create" v-on:click="openCreateroom"><img src="../../assets/navigator/create_room.png"> Create room</button>
        </div>
        <div class="col-md-6">
          <h3>About Help Center</h3>
          <span>Created by sspeyer <img src="../../assets/navigator/favorite/make_favourite.png" class="favorite"></span>
          <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>

          <hr>

          <h6><img src="../../assets/navigator/locks/password.png">  This room is locked</h6>
          <small>Please enter the password to access to the room</small>

          <input type="text" class="password" placeholder="Room password">
          <a href="#" class="btn btn-primary btn-block">Check password</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Navigator',
  methods: {
    closeNavigator: function(){
      this.$store.commit('updateGameNavigator');
    },
    showRoom: function(){
      this.closeNavigator();
      this.$store.commit('showGameRoom');
    },
    openCreateroom: function(){
      this.$store.commit('updateGameCreateroom');
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .navigator{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: white;
    height: 100vh;
    width: 45%;
    -webkit-box-shadow: 6px 2px 6px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 2px 6px -2px rgba(0,0,0,0.75);
    box-shadow: 6px 2px 6px -2px rgba(0,0,0,0.75);
    z-index: 99;
  }

  .header{
    width: 100%;
    padding: 12px;
    background-color: #fd79a8;
    font-size: 24px;
    color: white;
    border-bottom: 3px solid #e84393;
  }

  .header_icon {
    height: 25px;
    width: auto;
    margin-right: 6px;
  }

  .header .close{
    border-radius: 4px;
    background-color: #e84393;
    padding: 6px 12px;
    cursor: pointer;
  }

  .container{
    max-height: 88%;
    overflow-x: auto;
    margin-top: 12px;
  }

  .list{
    list-style-type: none;
    padding-left: 0px;
  }

  .list li{
    padding: 6px;
    background-color: #eeee;
    border-radius: 4px;
    margin-top: 6px;
    cursor: pointer;
  }

  .search{
    width: 100%;
    padding: 8px;
    background-color: white;
    border: 2px solid #eeeeee;
    border-radius: 6px;
    margin-bottom: 6px;
  }

  .list_container{
    max-height: 350px;
    overflow-x: auto;
  }

  .name{
    width: 100%;
    padding: 6px;
    background-color: white;
    border: 2px solid #eeeeee;
    border-radius: 6px;
    margin-bottom: 6px;
  }

  .password{
    width: 100%;
    padding: 6px;
    background-color: white;
    border: 2px solid #eeeeee;
    border-radius: 6px;
    margin-bottom: 6px;
  }

  .list li span{
    color:black;
  }

  .favorite{
    float: right;
    margin-top: 6px;
    margin-right: 6px;
  }

  .count {
    width: 34px;
    height: 13px;
    display: inline-block;
    float: right;
    margin-top: 6px;
  }

  .count span{
    font-size: 9px;
    color: white!important;
    float: right;
    margin-right: 6px;
    margin-top: 1px;
  }

  .count.green {
    background-image: url('../../assets/navigator/count/green.png');
  }

  .count.grey {
    background-image: url('../../assets/navigator/count/grey.png');
  }

  .count.orange {
    background-image: url('../../assets/navigator/count/orange.png');
  }

  .count.red {
    background-image: url('../../assets/navigator/count/red.png');
  }

  .count.yellow {
    background-image: url('../../assets/navigator/count/yellow.png');
  }


  .btn-primary {
    background: #e84393;
    border: none;
  }

  .btn-primary:hover {
    background: #fd79a8;
  }

  .btn-primary:active {
    background: #fd79a8;
  }

  .btn-primary:focus {
    background: #fd79a8;
  }

  .description {
    padding: 12px;
    background-color: #eeeeee;
    color:black;
    margin-top: 6px;
    border-radius: 4px;
  }

  .create {
    margin-top: 8px;
  }
</style>