<template>
  <div class="news">
    <div class="header">
      <img src="../../assets/news/header.png" class="header_icon"> News
      <div class="close" v-on:click="closeNews"><img src="../../assets/cross.png"></div>
    </div>
    <div class="container">
      <h3>What's new in Jupiter?</h3>
      <p><i>Don't forget, Jupiter is just the beta from a project, not the final version. Some bug can appear, please signal it on Discord, thanks!</i></p>
      <div class="row">
        <div class="col-md-12">
          <div class="card" style="width: 100%;">
            <img class="card-img-top" src="../../assets/news/promos/1.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary btn-block">Go somewhere</a>
            </div>
          </div>
        </div>  
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card" style="width: 100%;">
            <img class="card-img-top" src="../../assets/news/promos/2.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary btn-block">Go somewhere</a>
            </div>
          </div>
        </div>  
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card" style="width: 100%;">
            <img class="card-img-top" src="../../assets/news/promos/3.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary btn-block">Go somewhere</a>
            </div>
          </div>
        </div>  
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card" style="width: 100%;">
            <img class="card-img-top" src="../../assets/news/promos/4.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary btn-block">Go somewhere</a>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'News',
  methods: {
    closeNews: function(){
      this.$store.commit('updateGameNews');
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .news{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: white;
    height: 100vh;
    width: 25%;
    -webkit-box-shadow: 6px 2px 6px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 2px 6px -2px rgba(0,0,0,0.75);
    box-shadow: 6px 2px 6px -2px rgba(0,0,0,0.75);
    z-index: 99;
  }

  .header{
    width: 100%;
    padding: 12px;
    background-color: #fd79a8;
    font-size: 24px;
    color: white;
    border-bottom: 3px solid #e84393;
  }

  .header_icon {
    height: 25px;
    width: auto;
    margin-right: 6px;
  }

  .header .close{
    border-radius: 4px;
    background-color: #e84393;
    padding: 6px 12px;
    cursor: pointer;
  }

  .container{
    max-height: 88%;
    overflow-x: auto;
  }

  .container h3{
    padding: 12px;
    font-size: 26px;
    text-align: center;
  }

  .btn-primary {
    background: #e84393;
    border: none;
  }

  .btn-primary:hover {
    background: #fd79a8;
  }

  .btn-primary:active {
    background: #fd79a8;
  }

  .btn-primary:focus {
    background: #fd79a8;
  }

  .row{
    padding: 6px 0px;
  }
</style>