<template>
  <div class="options">
    <ul>
      <li><img src="../../assets/options/moderation.png"></li>
      <li><img src="../../assets/options/help.png"></li>
      <li><img src="../../assets/options/settings.png"></li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'Options'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .options {
    position: absolute;
    top: 0px;
    right: 12px;
    padding: 8px;
    background-color: white;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom: 4px solid #eeee;
    z-index: 9;
  }

  .options ul {
    padding-left: 12px;
    margin-bottom: 0px;
  }

  .options ul li {
    display: inline-block;
    padding-right: 12px;
  }

  .options ul li img{
   cursor: pointer;
  }
</style>