<template>
  <div class="purse">
    <ul>
      <li><img src="../../assets/purse/credits.png"> 123</li>
      <li><img src="../../assets/purse/duckets.png"> 123</li>
      <li><img src="../../assets/purse/pixels.png"> 123</li>
      <li><div class="separator"></div></li>
      <li><img src="../../assets/purse/hc.png"> 123</li>
      <li><img src="../../assets/purse/vip.png"> 123</li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'Purse'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .purse {
    position: absolute;
    top: 0px;
    margin-left: 50vw;
    transform: translateX(-50%);
    padding: 12px;
    background-color: white;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom: 4px solid #eeee;
    z-index: 98;
  }

  .purse ul {
    padding-left: 12px;
    margin-bottom: 0px;
  }

  .purse ul li {
    display: inline-block;
    padding-right: 12px;
  }

  .purse ul li .separator{
    padding: 0px 12px;
  }
</style>