<template>
  <div id="room">
  </div>
</template>

<script>
import * as PIXI from 'pixi.js';

export default {
  name: 'Room',
  data: function () {
    return {
      room: ""
    }
  },
  mounted: function(){
	let type = "WebGL"
    if(!PIXI.utils.isWebGLSupported()){
      type = "canvas"
    }

    PIXI.utils.sayHello(type)

    var opts = {
		width: Math.max(document.documentElement.clientWidth || 0, window.innerWidth || 0),
		height: Math.max(document.documentElement.clientHeight || 0, window.innerHeight || 0)
    }

    this.room = new PIXI.Application(opts);
    document.getElementById('room').appendChild(this.room.view);

    this.room.renderer.backgroundColor = 0x000000;

    PIXI.loader.add("floor" ,"../../assets/sprites/floor.png").load(this.setup);
  },
  methods: {
	setup: function(){
		let floor_sprite = new PIXI.Sprite(PIXI.loader.resources.floor.texture);

		floor_sprite.x = 96;
		floor_sprite.y = 96;	

		this.room.stage.addChild(floor_sprite);

		var graphics = new PIXI.Graphics();
		graphics.beginFill(0xFFFF00);
		graphics.lineStyle(5, 0xFF0000);
		graphics.drawRect(10, 10, 300, 200);
		this.room.stage.addChild(graphics);
	}
  }
}
</script>