<template>
    <div class="roominfo">
      <ul>
        <li class="name">Reception</li>
        <li>by sspeyer</li>
      </ul>
      <button><img src="../../assets/room_info/chat_history.png"></button>
      <button><img src="../../assets/room_info/clear_favourite.png"></button>
      <button><img src="../../assets/room_info/settings_icon.png"></button>
    </div>
</template>

<script>
export default {
  name: 'Roominfo'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .roominfo {
    position: absolute;
    bottom: 85px;
    left: 12px;
    padding: 8px;
    background-color: white;
    border-radius: 6px;
    border: 2px solid #eeee;
    z-index: 98;
    min-width: 235px;
  }

  .roominfo ul{
    margin-bottom: 0px;
    padding-left: 0px;
    list-style-type: none;
  }

  .roominfo ul .name{
    font-weight: bold;
    font-size: 24px;
  }

  .roominfo button{
    margin-top: 6px;
    margin-right: 8px;
    padding: 4px 8px;
    background-color: #eeee;
    border-radius: 4px;
    border: none;
  }

  .roominfo button img{
    height: auto;
    width: 18px;
  }
</style>