<template>
  <div class="container error">
    <Header/>
    <div class="row">
      <div class="col-md-12">
        <h3>An error has occurred</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
      </div>
    </div>
    <Footer/>
  </div>
</template>

<script>
import Header from '../components/web/Header.vue'
import Footer from '../components/web/Footer.vue'

export default {
  name: 'Error',
  components: {
    Header,
    Footer
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .error {
    width: 75%;
    margin-top: 30px;
    margin-bottom: 60px;
    text-align: center;
  }
</style>