<template>
  <div class="game">
    <News v-if="this.$store.state.showGameNews"/>
    <Navigator v-if="this.$store.state.showGameNavigator"/>
    <Createroom v-if="this.$store.state.showGameCreateroom"/>
    
    <Purse/>
    <Options/>
    <Navigation/>
    <Chat v-if="this.$store.state.showGameRoom"/>
    <Roominfo v-if="this.$store.state.showGameRoom"/>
    <Friends/>

    <Hotelview v-if="this.$store.state.showGameHotelview && !this.$store.state.showGameRoom"/>
    <Room v-if="this.$store.state.showGameRoom && !this.$store.state.showGameHotelview"/>
  </div>
</template>

<script>
import News from '../components/game/News.vue'
import Purse from '../components/game/Purse.vue'
import Options from '../components/game/Options.vue'
import Navigation from '../components/game/Navigation.vue'
import Chat from '../components/game/Chat.vue'
import Friends from '../components/game/Friends.vue'
import Navigator from '../components/game/Navigator.vue'
import Hotelview from '../components/game/Hotelview.vue'
import Room from '../components/game/Room.vue'
import Roominfo from '../components/game/Roominfo.vue'
import Createroom from '../components/game/Createroom.vue'

export default {
  name: 'Game',
  components: {
    News,
    Purse,
    Options,
    Navigation,
    Chat,
    Friends,
    Navigator,
    Hotelview,
    Room,
    Roominfo,
    Createroom
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .game{
    height: 100vh;
    width: 100vw;
  }
</style>