<template>
  <div class="container loading">
    <Header/>
    <div class="row">
      <div class="col-md-12">
        <img src="../assets/loading.gif">
        <p>Connecting to Jupiter Server...</p>
      </div>
    </div>
    <Footer/>
  </div>
</template>

<script>
import Header from '../components/web/Header.vue'
import Footer from '../components/web/Footer.vue'

export default {
  name: 'Loading',
  components: {
    Header,
    Footer
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .loading {
    width: 75%;
    margin-top: 30px;
    margin-bottom: 60px;
    text-align: center;
  }
</style>

