<template>
  <div class="container login">
    <Header/>
    <div class="row inputs">
      <div class="col-md-6">
        <h3>Connect to your Jupiter account</h3>
          <div class="alert alert-warning" role="alert" v-if="errorLogin">{{errorLoginMessage}}</div>
        <form>
          <div class="form-group">
            <label for="usernameInputLogin">Username</label>
            <input type="text" class="form-control" id="usernameInputLogin" placeholder="Username" v-model="usernameInputLogin">
          </div>
          <div class="form-group">
            <label for="passwordInputLogin">Password</label>
            <input type="password" class="form-control" id="passwordInputLogin" placeholder="Password" v-model="passwordInputLogin">
          </div> 
        </form>
          <button class="btn btn-primary btn-block" v-on:click="login">Connect to my account</button>
      </div>
      <div class="col-md-6">
        <h3>Create your Jupiter account</h3>
          <div class="alert alert-warning" role="alert" v-if="errorRegister">{{errorRegisterMessage}}</div>
        <form>
          <div class="form-group">
            <label for="usernameInputRegister">Username</label>
            <input type="text" class="form-control" id="usernameInputRegister" placeholder="Username" v-model="usernameInputRegister">
          </div>
          <div class="form-group">
            <label for="emailInputRegister">Email address</label>
            <input type="text" class="form-control" id="emailInputRegister" aria-describedby="emailHelp" placeholder="Enter email" v-model="emailInputRegister">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="PasswordInputRegister">Password</label>
            <input type="password" class="form-control" id="PasswordInputRegister" placeholder="Password" v-model="passwordInputRegister">
          </div>
          <div class="form-group">
            <label for="repeatPasswordInputRegister">Repeat your password</label>
            <input type="password" class="form-control" id="repeatPasswordInputRegister" placeholder="Password" v-model="repeatPasswordInputRegister">
          </div> 
        </form>
          <button class="btn btn-primary btn-block" v-on:click="register">Create my account</button>
      </div>
    </div>
    <Footer/>
  </div>
</template>

<script>
import Header from '../components/web/Header.vue'
import Footer from '../components/web/Footer.vue'

export default {
  name: 'Login',
  components: {
    Header,
    Footer
  },
  data: function () {
    return {
      usernameInputLogin: "",
      passwordInputLogin: "",
      usernameInputRegister: "",
      emailInputRegister: "",
      passwordInputRegister: "",
      repeatPasswordInputRegister: "",
      errorRegister: false,
      errorLogin: false,
      errorRegisterMessage: "",
      errorLoginMessage: ""
    }
  }
}
</script>

<style scoped>
  .login {
    width: 75%;
    margin-top: 30px;
    margin-bottom: 60px;
  }

  .inputs {
    margin-bottom: 24px;
  }
</style>

